
body
{
    background-image: url(img/espacio.jpg);

    /*Propiedades para ajustar imagen de fondo*/
    background-attachment: fixed;
    background-size: cover;
}

/*Paradaje*/
.claseSol
{
    background-image: url(img/sol.jpg);
    
    height: 800px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.claseLuna
{
    
    background-image: url(img/luna.jpg);
    width: 1500px;
    height: 1000px;
}

/*Posición absoluta necesaria para alinear a nuestro libre albedrío las etiquetas*/

label
{
    position: absolute;
    padding-left: 40%;
    padding-top: 20%;
    font-family: fantasy;
    font-size: 100px;
}

label.sol
{
    color: snow;
}

label.luna
{
    color: red;
}