{% extends 'base.html.twig' %}

{% block title %}Modificar usuario{% endblock %}

{% block body %}
    <section class="page-section col-lg-12" id="loguearse">
        <div class="container" style="text-align: justify;">
            <h2>Modificar usuario</h2>

            {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}

            {{ include('user/_delete_form.html.twig') }}

            <a href="{{ path('admin') }}">Volver</a>
        </div>
    </section>
{% endblock %}
